@keyframes scrollMouse {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(30px); } }

@keyframes floatTextL {
  0% {
    transform: translate(0px, 0px) scale(1); }
  20% {
    transform: translate(5px, -3px) scale(0.95); }
  40% {
    transform: translate(4px, -7px) scale(0.98); }
  60% {
    transform: translate(0px, -8px) scale(1); }
  80% {
    transform: translate(-3px, -5px) scale(0.98); }
  100% {
    transform: translate(0px, 0px) scale(1); } }

@keyframes floatTextR {
  0% {
    transform: translate(0px, 0px) scale(1); }
  20% {
    transform: translate(-5px, 3px) scale(1); }
  40% {
    transform: translate(-3px, 5px) scale(0.95); }
  60% {
    transform: translate(-2px, 6px) scale(0.98); }
  80% {
    transform: translate(2px, 3px) scale(0.97); }
  100% {
    transform: translate(0px, 0px) scale(1); } }

@keyframes swipeH {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateX(-80%); } }

@keyframes flyLittleFella {
  0% {
    transform: rotateZ(-8deg); }
  50% {
    transform: rotateZ(8deg); }
  100% {
    transform: rotateZ(-8deg); } }

@keyframes flyLittleFellaReverse {
  0% {
    transform: rotateZ(8deg); }
  50% {
    transform: rotateZ(-8deg); }
  100% {
    transform: rotateZ(8deg); } }

@-webkit-keyframes pulseLoad {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }

@keyframes pulseLoad {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  overflow-x: hidden; }

.relative {
  position: relative;
  width: 100%;
  height: 100%; }

.clear {
  clear: both; }

main {
  font-family: "Open Sans", sans-serif;
  height: 1200vh;
  background: #4bc0c8;
  background: -webkit-linear-gradient(to bottom, #8bbef3, #8bbef3, #fd9722, #fa6164, #c73967, #111a44, #080718);
  background: linear-gradient(to bottom, #8bbef3, #8bbef3, #fd9722, #fa6164, #c73967, #111a44, #080718); }
  main h1,
  main h2,
  main h3 {
    display: block;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 1.7vw; }
    main h1.fRight,
    main h2.fRight,
    main h3.fRight {
      text-align: right; }
    @media only screen and (max-width: 767px) {
      main h1,
      main h2,
      main h3 {
        width: 100%;
        text-align: center;
        font-size: 22px; }
        main h1.fRight,
        main h2.fRight,
        main h3.fRight {
          text-align: center; } }
  main a {
    color: #ffffff;
    text-decoration: none; }
  main p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 5px; }
    @media only screen and (max-width: 767px) {
      main p {
        font-size: 16px; } }
  main #logo {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    opacity: 0; }
    main #logo #slf {
      width: 100px;
      height: 115px;
      transition: all 0.3s ease-in; }
  main #ui {
    z-index: 12;
    width: 100%;
    padding: 0px 70px; }
    main #ui #scroll,
    main #ui #dots {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    main #ui #scroll {
      left: -150px;
      width: 32px;
      height: 55px;
      margin-top: -27.5px;
      box-shadow: inset 0 0 0 2px #fff;
      border-radius: 25px;
      opacity: 1;
      transition: opacity 0.3s ease-out; }
      main #ui #scroll:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background: #fff;
        margin-left: 12px;
        top: 8px;
        border-radius: 4px;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: scrollMouse; }
      main #ui #scroll.scrolled {
        opacity: 0; }
    main #ui #dots {
      right: -150px; }
      main #ui #dots ul,
      main #ui #dots li {
        list-style: none;
        text-align: right;
        letter-spacing: 2px; }
      main #ui #dots li {
        margin: 15px 0px; }
        main #ui #dots li .dot {
          display: inline-block;
          position: relative;
          width: 30px;
          height: 30px;
          margin-left: 10px;
          vertical-align: middle;
          cursor: pointer;
          border-radius: 50%;
          background-color: #ffffff;
          z-index: 1;
          transform: scale(0.8);
          transform-origin: center;
          transition: transform 0.2s ease-in; }
          main #ui #dots li .dot::after {
            content: " ";
            position: absolute;
            z-index: 2;
            width: 19px;
            height: 19px;
            top: 5.5px;
            left: 5.35px;
            border-radius: 50%;
            transform: scale(0);
            transform-origin: center; }
          main #ui #dots li .dot:hover, main #ui #dots li .dot.active {
            transform: scale(1); }
            main #ui #dots li .dot:hover::after, main #ui #dots li .dot.active::after {
              transform: scale(1.1); }
        main #ui #dots li.lnkMorning .dot::after {
          background-color: #8bbef3; }
        main #ui #dots li.lnkSunset .dot::after {
          background-color: #fd9722; }
        main #ui #dots li.lnkNight .dot::after {
          background-color: #111a44; }
    main #ui #swipe {
      visibility: hidden; }
  main #content {
    overflow: visible !important;
    z-index: 13;
    width: calc(100% - 200px);
    left: 50%;
    transform: translateX(-50%); }
    main #content h1,
    main #content h2,
    main #content #projects {
      position: absolute;
      letter-spacing: 1.5px; }
      main #content h1 span,
      main #content h2 span,
      main #content #projects span {
        display: block;
        opacity: 0; }
        @media only screen and (max-width: 767px) {
          main #content h1 span,
          main #content h2 span,
          main #content #projects span {
            opacity: 1;
            transform: scale(1); } }
      main #content h1 .floatL, main #content h1 .floatR,
      main #content h2 .floatL,
      main #content h2 .floatR,
      main #content #projects .floatL,
      main #content #projects .floatR {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
        display: block; }
        main #content h1 .floatL.floatL, main #content h1 .floatR.floatL,
        main #content h2 .floatL.floatL,
        main #content h2 .floatR.floatL,
        main #content #projects .floatL.floatL,
        main #content #projects .floatR.floatL {
          animation-name: floatTextL; }
        main #content h1 .floatL.floatR, main #content h1 .floatR.floatR,
        main #content h2 .floatL.floatR,
        main #content h2 .floatR.floatR,
        main #content #projects .floatL.floatR,
        main #content #projects .floatR.floatR {
          animation-name: floatTextR; }
      main #content h1.fLeft,
      main #content h2.fLeft,
      main #content #projects.fLeft {
        top: 15vh; }
        main #content h1.fLeft.sunset,
        main #content h2.fLeft.sunset,
        main #content #projects.fLeft.sunset {
          top: 45vh;
          opacity: 0;
          transform: scale(1.1); }
          main #content h1.fLeft.sunset span,
          main #content h2.fLeft.sunset span,
          main #content #projects.fLeft.sunset span {
            opacity: 1;
            transform: scale(1);
            margin: 0 !important; }
        main #content h1.fLeft span,
        main #content h2.fLeft span,
        main #content #projects.fLeft span {
          margin-left: 50px;
          transform-origin: center right; }
          main #content h1.fLeft span:first-child,
          main #content h2.fLeft span:first-child,
          main #content #projects.fLeft span:first-child {
            margin-left: -50px;
            transform-origin: center left; }
      main #content h1.fRight,
      main #content h2.fRight,
      main #content #projects.fRight {
        bottom: 15vh;
        right: 20px; }
        main #content h1.fRight p,
        main #content h2.fRight p,
        main #content #projects.fRight p {
          margin-bottom: -20px;
          opacity: 0; }
          main #content h1.fRight p a,
          main #content h2.fRight p a,
          main #content #projects.fRight p a {
            color: #ffffff;
            text-decoration: none;
            display: block;
            margin-bottom: 10px; }
          @media only screen and (max-width: 767px) {
            main #content h1.fRight p,
            main #content h2.fRight p,
            main #content #projects.fRight p {
              opacity: 1; } }
        main #content h1.fRight span,
        main #content h2.fRight span,
        main #content #projects.fRight span {
          margin-right: 50px;
          transform-origin: center left; }
          main #content h1.fRight span:first-child,
          main #content h2.fRight span:first-child,
          main #content #projects.fRight span:first-child {
            margin-right: -50px;
            transform-origin: center right; }
        @media only screen and (max-width: 767px) {
          main #content h1.fRight.sunset,
          main #content h2.fRight.sunset,
          main #content #projects.fRight.sunset {
            display: none; } }
      @media only screen and (max-width: 767px) {
        main #content h1.mobClass,
        main #content h2.mobClass,
        main #content #projects.mobClass {
          width: 100vw;
          opacity: 0;
          display: block;
          position: relative;
          transform: none;
          top: initial;
          bottom: initial;
          right: initial; }
          main #content h1.mobClass span,
          main #content h2.mobClass span,
          main #content #projects.mobClass span {
            margin: 0; }
            main #content h1.mobClass span:first-child,
            main #content h2.mobClass span:first-child,
            main #content #projects.mobClass span:first-child {
              margin: 0; }
          main #content h1.mobClass#projects,
          main #content h2.mobClass#projects,
          main #content #projects.mobClass#projects {
            top: initial;
            opacity: 1;
            min-height: auto;
            margin-top: -15vh; }
          main #content h1.mobClass:first-child,
          main #content h2.mobClass:first-child,
          main #content #projects.mobClass:first-child {
            opacity: 1; } }
      main #content h1.night,
      main #content h2.night,
      main #content #projects.night {
        z-index: 1; }
        main #content h1.night.fRight .animBord,
        main #content h2.night.fRight .animBord,
        main #content #projects.night.fRight .animBord {
          position: relative; }
          main #content h1.night.fRight .animBord::after,
          main #content h2.night.fRight .animBord::after,
          main #content #projects.night.fRight .animBord::after {
            content: ' ';
            display: block;
            height: 2px;
            width: 0%;
            transition: width 0.2s linear;
            background-color: #FFFFFF; }
          main #content h1.night.fRight .animBord:hover::after,
          main #content h2.night.fRight .animBord:hover::after,
          main #content #projects.night.fRight .animBord:hover::after {
            width: 100%;
            transition: width 0.2s ease-in-out; }
        main #content h1.night.fRight:hover span, main #content h1.night.fRight:hover p,
        main #content h2.night.fRight:hover span,
        main #content h2.night.fRight:hover p,
        main #content #projects.night.fRight:hover span,
        main #content #projects.night.fRight:hover p {
          animation-play-state: paused; }
        @media only screen and (max-width: 767px) {
          main #content h1.night,
          main #content h2.night,
          main #content #projects.night {
            z-index: -1; } }
    main #content h2.night.fRight span {
      margin-top: -40px;
      margin-right: 0px;
      transform-origin: center; }
    main #content #projects {
      min-width: 300px;
      min-height: 400px; }
      main #content #projects .relative {
        z-index: 0; }
      main #content #projects h3 {
        position: absolute;
        top: 0;
        opacity: 0;
        font-size: 42px;
        font-weight: 600;
        letter-spacing: 1.2px;
        line-height: 1.3;
        z-index: 1;
        transition: opacity 0.2s ease-in-out; }
        main #content #projects h3 span {
          font-size: 16px;
          font-weight: 400; }
        main #content #projects h3.active {
          opacity: 1;
          z-index: 2; }
        main #content #projects h3:hover a.lnk:before {
          top: -17px;
          opacity: 1; }
        main #content #projects h3 a.lnk:before {
          content: "Take a look";
          position: absolute;
          display: block;
          font-size: 16px;
          font-weight: 400;
          top: 0;
          left: 0;
          opacity: 0;
          transition: all 0.2s ease-in; }
          @media only screen and (max-width: 767px) {
            main #content #projects h3 a.lnk:before {
              width: 100%;
              text-align: center; } }
      main #content #projects #arrows {
        position: absolute;
        top: 90px;
        z-index: 3; }
        main #content #projects #arrows .prev,
        main #content #projects #arrows .next {
          display: inline-block;
          padding-right: 5px;
          cursor: pointer;
          transition: all 0.2s ease-in; }
          main #content #projects #arrows .prev.disabled,
          main #content #projects #arrows .next.disabled {
            opacity: 0.6;
            cursor: default; }
            main #content #projects #arrows .prev.disabled:hover,
            main #content #projects #arrows .next.disabled:hover {
              transform: scale(1); }
          main #content #projects #arrows .prev:hover,
          main #content #projects #arrows .next:hover {
            transform: scale(1.1); }
          main #content #projects #arrows .prev img,
          main #content #projects #arrows .next img {
            width: 34px; }
        main #content #projects #arrows .next img {
          transform: rotateY(180deg); }
        @media only screen and (max-width: 767px) {
          main #content #projects #arrows {
            top: 110px;
            left: calc( 50% - 39px); } }
      main #content #projects .mobView {
        display: none; }
      @media only screen and (max-width: 767px) {
        main #content #projects .mobView {
          display: block; }
        main #content #projects .largeView {
          display: none; } }
      main #content #projects:hover a.lnk, main #content #projects:hover span, main #content #projects:hover #arrows {
        animation-play-state: paused; }
        @media only screen and (max-width: 767px) {
          main #content #projects:hover a.lnk, main #content #projects:hover span, main #content #projects:hover #arrows {
            animation-play-state: running; } }
    @media only screen and (max-width: 767px) {
      main #content {
        position: relative;
        width: 100vw;
        height: 100vh;
        transform: normal;
        left: 0;
        opacity: 0; }
        main #content .swiper-wrapper {
          display: flex;
          align-items: center;
          height: 100vh; } }
  main #mainObj {
    z-index: 10;
    opacity: 0; }
    @media only screen and (max-width: 767px) {
      main #mainObj {
        left: 0; } }
  main #loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    main #loading .load,
    main #loading .load:before,
    main #loading .load:after {
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation: pulseLoad 1.8s infinite ease-in-out;
      animation: pulseLoad 1.8s infinite ease-in-out; }
    main #loading .load:before,
    main #loading .load:after {
      content: '';
      position: absolute;
      top: 0; }
    main #loading .load {
      color: #ffffff;
      font-size: 5px;
      position: relative;
      text-indent: -9999em;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s; }
      main #loading .load:before {
        left: -4.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s; }
      main #loading .load:after {
        left: 4.5em; }
      @media only screen and (max-width: 767px) {
        main #loading .load {
          margin-top: -15em; } }
  main .littleFella {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 25px;
    opacity: 0;
    transform: scale(0.2);
    z-index: 20;
    cursor: crosshair; }
    main .littleFella#matrix {
      display: normal; }
    main .littleFella .alaDxFly {
      fill: #666666;
      transform-origin: bottom;
      animation: flyLittleFella 0.15s linear infinite; }
    main .littleFella .bodyFly {
      fill: #1a1a1a; }
    main .littleFella .alaSxFly {
      fill: #4d4d4d;
      transform-origin: bottom;
      animation: flyLittleFellaReverse 0.15s linear infinite; }
    main .littleFella path {
      stroke-width: 2;
      stroke: gray;
      fill: none; }
  main .canvasEl, main #ui, main #content, main #mainObj {
    overflow: hidden;
    position: fixed;
    height: 100%;
    bottom: 0; }
  main .radialCenter::before, main #mainObj::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#4d000000',GradientType=1 );
    opacity: 0.6; }

@-webkit-keyframes opacity {
  from {
    opacity: 0.4; }
  to {
    opacity: 0.8; } }

@keyframes opacity {
  from {
    opacity: 0.4; }
  to {
    opacity: 0.8; } }
  @media only screen and (max-width: 767px) {
    main {
      height: 100vh;
      background: #080718; }
      main .radialCenter::before, main #mainObj::before {
        content: none; }
      main #logo #slf {
        width: 89px;
        height: 102px; }
      main #ui #scroll,
      main #ui #dots {
        visibility: hidden; }
      main #ui #swipe {
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-20%);
        visibility: visible;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: swipeH;
        opacity: 1;
        transition: opacity 0.3s ease-out; }
        main #ui #swipe.swiped {
          opacity: 0;
          transition: opacity 0.3s ease-out;
          animation: none; }
        main #ui #swipe img {
          max-width: 45px; }
      main #content {
        width: 100vw;
        height: 100vh;
        left: 0;
        transform: none; }
        main #content h1.mobClass, main #content h2.mobClass {
          padding-top: 8vh; }
        main #content #projects {
          padding-top: 5vh; }
          main #content #projects #arrows {
            top: 90px; } }
  @media screen and (orientation: landscape) and (max-width: 767px) {
    main #logo {
      top: 0; }
      main #logo #slf {
        width: 60px; }
    main #ui #swipe {
      bottom: 20px; }
      main #ui #swipe img {
        max-width: 30px; }
    main #content h1.mobClass, main #content h2.mobClass {
      padding-top: 25vh; }
    main #content #projects {
      padding-top: 10vh; } }

.dg.ac {
  z-index: 99999 !important; }

